.header__img{
    width: 300px;
    height: 290px;
}
a{
    color: black;
}
a:hover{
    color: tomato;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__list{
    display: flex;
    gap: 50px;
    list-style-type: none;
}
.header__content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header__form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__choise__text{
    text-align: center;
}
.choise{
    display: flex;
}
.button__submit{
    display: flex;
    justify-content: center;
}